/*
font-family: 'Quicksand', sans-serif;
font-family: 'Clicker Script', cursive;
font-family: 'Nunito', sans-serif;
color: (goldfoil) #C5B358;
*/

*{

}

/*  un-comment to add twinkle-lights background

body {
  background-image: url(images/twinkle-lights3.png);
}
*/

/* Splash Logo Styling */
.splash-logo {
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* NavBar Styling */
nav {
  border-bottom: 3px solid #C5B358;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Nunito';
}

.navbar-text {
  font-family: 'Clicker Script';
  font-size: 25px;
  margin-left: 25px;
}

/* Carousel Styling */

.carousel {
  margin: 100px 35px 35px 35px;
  border: 3px solid #C5B358;
  border-radius: 15px;
}

.carousel-inner {
  border-radius: 12px;
}

.carousel-item {
  height: 500px;
}

.carousel-caption {
  font-family: 'Quicksand';
  font-size: 18px;
}

/* Instagram and News */

.insta-news {
  display: inline-flex;
  margin-bottom: 100px;
}

.news-header {
  font-family: 'Quicksand';
}
.news-item {
  margin-bottom: 50px;
}

.news-headline {
  font-family: 'Quicksand';
  border-bottom: 2px solid #C5B358;
}

.news-headline p {
  font-family: 'Nunito';
}

.insta-header {
  font-family: 'Quicksand';
  border-bottom: 2px solid #C5B358;
  color: black;
  margin-top: 32px;
}

/* Footer Styling */

footer {
  margin-top: 100px;
  border-top: 2px dashed white;
  background-color: grey;
  color: #C5B358;
  font-size: 12px;
  font-family: 'Nunito';
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.foot-links-box {
  margin-top: 35px;
  display: inline-flex;
}

.foot-links {
  color: #C5B358;
  font-size: 12px;
  font-family: 'Nunito';
}

.foot-links li {
  list-style: none;
  padding: 5px 0px 5px 0px;
}

.foot-link{
  color: #C5B358;
}

.email-capture {
  margin-top: 35px;
  font-family: 'Nunito';
}
