  <!DOCTYPE html>
  <html lang='en'>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>The Monogram Crew</title>
      <link rel="shortcut icon" href="../Images/TMCfavicon.ico">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Quicksand:300,500" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link rel='stylesheet' type="text/css" href="../Styles/styles.css">
      <link rel='stylesheet' type="text/css" href="../Styles/parties.css">
    </head>

    <body>

      <!-- Navbar content -->
      <div class="content">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

          <a class="navbar-brand logo" href="./main.html">
            <img src="../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
          </a>


          <ul class="navbar-nav navList">
            <li class="nav-item">
              <a class="nav-link" href="#">Shop (Coming Soon!)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./fundraiser/fundraiseForm.html">Fundraise</a>
            </li>
            <li class="nav-item dropdown nav-dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Party
              </a>
              <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./parties/host.html">Host a Party</a>
                <a class="dropdown-item" href="./parties/active.html">View Your Party</a>
                <a class="dropdown-item" href="./parties/search.html">Search for a Party</a>
                <a class="dropdown-item" href="./parties/admin.html">ADMIN VIEW</a>
              </div>
            </li>
            <li class="nav-item dropdown nav-dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
                <a class="dropdown-item" href="./About/about.html">Who We Are</a>
                <a class="dropdown-item" href="./About/contact.html">Contact Us</a>
                <a class="dropdown-item" href="./About/join.html">Join Us</a>
                <a class="dropdown-item" href="./About/faq.html">FAQ</a>
              </div>
            </li>
            <li class="nav-item nav-dropdown dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign In/Register
              </a>
              <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
                <form>
                  <div class="form-group">
                    <label for="emailSignIn">Email Address</label>
                    <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                  </div>
                  <div class="form-group">
                    <label for="passwordSignIn">Password</label>
                    <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary tmc-btn">Submit</button>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item register-link" href="./User/home.html">My Account</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item register-link" href="./user/register.html">Sign Up/Register</a>
              </div>
            </li>
            <li>
              <a class="nav-item nav-item-social" href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a class="nav-item nav-item-social" href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>

          <span class="navbar-text">
            Personalize. Paint. Prosecco.
          </span>

      </nav>

      <!-- Home Page Content -->

      <div class="container-fluid home-content">

        <!-- Logo -->

        <div class="video-container container-fluid">
              <div class="row align-items-center home-logo">
                <img src="../Images/New TMC Logo small.png" alt="home logo">
              </div>
            <div class="videobox embed-responsive embed-responsive-16by9">
              <video class="embed-responsive-item" src="../Images/TMC Video.mp4" controls></video>
            </div>
        </div>

        <!-- PPP Box -->

        <!-- Carousel -->

        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="./parties/host.html"><img class="d-block w-100" src="../Images/PreParty Setup.jpeg" alt="PreParty Setup"></a>
              <div class="carousel-caption d-none d-md-block">
                <h3>#paintandproseccoparty</h3>
                <p>Grab your besties, pop some Prosecco, and have an amazing night in your home.  Catch up with your friends and leave with an amazing board to hang on your wall. Get 9 guests and the host receives $45 towards their project!</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="./fundraiser/fundraiseForm.html"><img class="d-block w-100" src="../Images/LargeFundraiser.jpeg" alt="Large fundraising photo"></a>
              <div class="carousel-caption d-none d-md-block">
                <h3>We Love Fundraisers!</h3>
                <p>No fundraiser too big or too small. We love the opportunity to help raise money in the community for Girl Scouts, Dance Teams, PTA, School, Church, and everything in between.</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="./about/faq.html"><img class="d-block w-100" src="../images/Carousel-Slide3-ThisIsUs.jpeg" alt="This Is Us board"></a>
              <div class="carousel-caption d-none d-md-block">
                <h3>Personalized Designs</h3>
                <p>Create any design you want. Help us bring your idea to life. You never have to choose from preselected designs if you don't want to.</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="./shop/shop.html"><img class="d-block w-100" src="../images/Carousel-Slide4-Shop.jpeg" alt="Port St Lucie Shop Stack"></a>
              <div class="carousel-caption d-none d-md-block">
                <h3>Shop!</h3>
                <p>Need a gift or have a spot on your wall that needs to be filled? Take a look through our shop. Choose from a finished board or a DIY kit so you can paint your own design! </p>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>

        <!-- Product Lineup -->

        <div class="container-fluid">
          <h2 align="center" class="product-lineup-header">The Product Lineup</h2>
          <div class="row align-items-center product-lineup-row">
            <a class="product-lineup-item board-one" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="12x12" data-img="../Images/ProductLineup/12x12"</a>
            <a class="product-lineup-item board-two" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="6x24" data-img="../Images/ProductLineup/6x24F"></a>
            <a class="product-lineup-item board-three" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="9x18" data-img="../Images/ProductLineup/9x18"></a>
            <a class="product-lineup-item board-four" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="6x36" data-img="../Images/ProductLineup/6x36F"></a>
            <a class="product-lineup-item board-five" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="8x24" data-img="../Images/ProductLineup/8x24"></a>
            <a class="product-lineup-item board-six" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="9x30" data-img="../Images/ProductLineup/9x30F"></a>
            <a class="product-lineup-item board-seven" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="12x24" data-img="../Images/ProductLineup/12x24"></a>
            <a class="product-lineup-item tray-board" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="12x16x2" data-img="../Images/ProductLineup/tray"></a>
            <a class="product-lineup-item porch-board-one" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="8x48" data-img="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></a>
            <a class="product-lineup-item porch-board-two" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="12x48" data-img="../Images/ProductLineup/12x48"></a>
            <a class="product-lineup-item growth-chart-board" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-title="12x72" data-img="../Images/ProductLineup/12x72"></a>
          </div>
        </div>

        <div class="container-fluid social-container">
          <a href="https://www.instagram.com/themonogramcrew/"><h2 align="center" class="insta-header">Follow Us on Instagram</h2></a>
          <div class="row">
            <div class="col-5 instagram">
              <div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'ys9KDSAZjAA-YvMHuFm7'});Pixlee.addSimpleWidget({widgetId:'16551'});};</script><script src="https://instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
            </div>
            <div class="col-5 container insta-blurb">
              <img src="../Images/1K.gif" class="img-thumbnail" alt="1K followers">
              <h4 align="center" class="insta-header">We've passed 1,000 followers!</h4>
              <br>
              <p align="center">We want to keep doing great giveaways for you guys. Spread the word far and wide so we can get to 5,000 followers and the next big TMC giveaway!</p>
            </div>
          </div>
        </div>


      </div>

      <!-- Footer -->
      <footer class="page-footer">
        <div class="container-fluid text-center text-md-left">

          <div class="row row-footer">

            <div class="col-3">
              <a class="navbar-brand logo" href="#">
                <img src="../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
              </a>
              <p class="ppp-footer">Personalize. Paint. Prosecco. </p>
              <p>The Monogram Crew has been designing boards and hosting parties since 2016. It is a labor of love and a true family business.</p>
            </div>

            <div class="col-3 foot-links-box">
              <div>
                <h6>Navigate</h6>
                <ul class="foot-links">
                  <li><a class="foot-link" href="./main.html">Home</a></li>
                  <li><a class="foot-link" href="./parties/host.html">Host a Party</a></li>
                  <li><a class="foot-link" href="./parties/search.html">Search</a></li>
                  <li><a class="foot-link" href="./About/contact.html">Contact Us</a></li>
                  <li><a class="foot-link" href="./User/register.html">Register</a></li>
                </ul>
              </div>
            </div>

            <div class="col-2 footer-social-links">
                <a href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

            <div class="col-4 email-capture">
              <h6>Sign Up for the Latest Information About New Products and Great Deals</h6>
              <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-dark" type="button">Sign up</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </footer>

      <!-- Required Scripts -->
      <!-- JQuery -->
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <!-- Main.js -->
      <script type="text/javascript" src="../scripts/main.js"></script>
      <!-- Popper -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
