<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Monogram Crew</title>
    <link rel="shortcut icon" href="../../Images/TMCfavicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href="../../Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../Styles/parties.css">
  </head>

  <body>

    <!-- Navbar content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

        <a class="navbar-brand logo" href="../main.html">
          <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
        </a>


        <ul class="navbar-nav navList">
          <li class="nav-item active">
            <a class="nav-link" href="../main.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Shop/shop.html">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../fundraiser/fundraiseForm.html">Fundraise</a>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../parties/host.html">Host a Party</a>
              <a class="dropdown-item" href="../parties/active.html">View Your Party</a>
              <a class="dropdown-item" href="../parties/search.html">Search for a Party</a>
              <a class="dropdown-item" href="../parties/admin.html">ADMIN VIEW</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item" href="../About/about.html">Who We Are</a>
              <a class="dropdown-item" href="../About/contact.html">Contact Us</a>
              <a class="dropdown-item" href="../About/join.html">Join Us</a>
              <a class="dropdown-item" href="../About/faq.html">FAQ</a>
            </div>
          </li>
          <li class="nav-item nav-dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In/Register
            </a>
            <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
              <form>
                <div class="form-group">
                  <label for="emailSignIn">Email Address</label>
                  <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                </div>
                <div class="form-group">
                  <label for="passwordSignIn">Password</label>
                  <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary tmc-btn">Submit</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/home.html">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/register.html">Sign Up/Register</a>
            </div>
          </li>
          <li>
            <a class="nav-item nav-item-social" href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a class="nav-item nav-item-social" href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>

        </ul>

        <span class="navbar-text">
          Personalize. Paint. Prosecco.
        </span>

    </nav>

    <!-- main container -->

    <div class="container-fluid active-party-content">

      <!-- Alert Box -->

      <div class="container-fluid alert alert-danger" role="alert">
        <h1>Message from TMC</h1>
        <p>Final designs must be set and saved by this Friday night. If you have any questions post them here or reach out to your design consultant!</p>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="container user-design-box">
            <form>
              <h3>Design Your Board</h3>
              <p>Take a look at our design tips and hints to the right to help <br>figure out what you'd like your board to look like.</p>
              <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Enter Name">
              </div>
              <h6>Select a Skill Level</h6>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="skillLevelRadioOptions" id="skillLevelRookie" value="rookie">
                <label class="form-check-label" for="skillLevelRookie">Rookie (One word, large block fonts)</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="skillLevelRadioOptions" id="skillLevelSeasoned" value="seasoned">
                <label class="form-check-label" for="skillLevelSeasoned">Seasoned (Few words, thinner and script fonts)</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="skillLevelRadioOptions" id="skillLevelExpert" value="expert">
                <label class="form-check-label" for="skillLevelExpert">Expert (Longer quotes, thin and variable fonts)</label>
              </div>
              <br>
              <br>
              <div class="form-group">
                <label for="boardSize">Choose a Size</label>
                <select class="form-control" id="boardSize">
                  <option>12x12</option>
                  <option>6x24</option>
                  <option>9x18</option>
                  <option>6x36</option>
                  <option>8x24</option>
                  <option>9x30</option>
                  <option>12x24</option>
                  <option>Tray: 12x16x2</option>
                  <option>Porch Board: 8x48</option>
                  <option>Porch Board: 12x48</option>
                  <option>Growth Chart: 12x72</option>
                </select>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="addFrameToBoard">
                <label class="form-check-label" for="addFrameToBoard">Add a Frame to Your Board</label>
              </div>
              <br>
              <div class="form-group">
                <label for="boardText">Board Text</label>
                <input type="text" class="form-control" id="boardText" placeholder="What Do You Want On Your Board">
              </div>
              <h6>Select Font Style</h6>
              <div class="form-check form-check">
                <input class="form-check-input" type="checkbox" name="fontOptions" id="fontOptionBlock" value="rookie">
                <label class="form-check-label" for="fontOptionBlock">Block</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="checkbox" name="fontOptions" id="fontOptionScript" value="seasoned">
                <label class="form-check-label" for="fontOptionScript">Script</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="checkbox" name="fontOptions" id="fontOptionTraditional" value="rookie">
                <label class="form-check-label" for="fontOptionTraditional">Traditional</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="checkbox" name="fontOptions" id="fontOptionModern" value="seasoned">
                <label class="form-check-label" for="fontOptionModern">Modern</label>
              </div>
              <br>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Upload an image that gave you inspiration...</label>
              </div>
              <br>
              <br>
              <div class="form-group">
                <label for="additionalBoardInstructions">Additional Board Instructions</label>
                <textarea class="form-control" id="additionalBoardInstructions" rows="3">Info for our designers</textarea>
              </div>
              <button type="submit" class="btn tmc-btn">Save</button>
            </form>
          </div>
          <!-- Chat Box -->
          <div class="container chat-container">
            <h3 class="chat-header">Party Chat</h3>
            <div class="container-fluid party-chat-box">
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">I just started designing my board, I definitely want a frame.</p>
                </div>
                <p class="chat-box-id">CountessLuann@Email.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">I've been working on mine for a little while now. The people who come on to help are so great, they made it so easy. Who else is doing a porch board?</p>
                </div>
                <p class="chat-box-id">RamonaCoaster@Email.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">I decided to stick with a tray and keep it simple. I know they say you don't have to be an expert but I want to be safe.</p>
                </div>
                <p class="chat-box-id">SkinnyGirl@Email.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-user">
                  <p class="chat-box-text">Does anyone know if there's a word limit?</p>
                </div>
              </div>
              <div class="chat-box">
                <div class="chat-box-admin">
                  <p class="chat-box-text">Hello, welcome to TMC Chat ladies. I'm here to help you with any questions you might have about the process.</p>
                </div>
                <p class="chat-box-id">Megan Maxwell</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-user">
                  <p class="chat-box-text">How long do parties usually go for? I just want to be sure to keep my babysitter around for long enough.</p>
                </div>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">Is everyone else paying with Venmo or on the website?</p>
                </div>
                <p class="chat-box-id">CountessLuann@Email.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">Good news ladies, I already bought the Prosecco and have the bar set up for Friday night. The guys will be away so we have the place to ourselves!</p>
                </div>
                <p class="chat-box-id">SkinnyGirl@Email.com</p>
              </div>
            </div>
            <div class="container-fluid reply-box">
              <form class="form-group">
                <label for="chatReplyBox"></label>
                <textarea class="form-control chat-reply-area col-11" id="chatReplyBox" rows="2" placeholder="Type Your Response Here" width="500"></textarea>
                <br>
                <button type="submit" class="btn tmc-btn">Send</button>
              </form>
            </div>
          </div>
        </div>


        <div class="col-md-5">
          <div class="container active-party-info">
            <h3><a class="active-party-link" href="#">Party Info/Link<a></h3>
            <br>
            <div class="container">
              <h5>Host: Bethenny Frankel</h5>
              <br>
              <p>Date: June 10, 2019</p>
              <p>Time: 8:00pm</p>
              <p>Location: 374 5th Avenue</p>
              <p>Apartment P</p>
              <p>New York, NY 10028</p>
            </div>
          </div>

        <div class="container design-info">
          <h3>Design Guide</h3>
          <br>
          <div class="board-size-price container">
            <div class="row">
              <div class="board board-one">
                12x12
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$45</p>
                <p>$55 with frame</p>
              </div>
            </div>
            <div class="row">
              <div class="board board-two">
                6x24
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$45</p>
                <p>$55 with frame</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="board board-three">
                9x18
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$55</p>
                <p>$67 with frame</p>
              </div>
            </div>
            <div class="row">
              <div class="board board-four">
                6x36
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$55</p>
                <p>$67 with frame</p>
              </div>
            </div>
            <div class="row">
              <div class="board board-five">
                8x24
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$55</p>
                <p>$67 with frame</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="board board-six">
                9x30
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$60</p>
                <p>$75 with frame</p>
              </div>
            </div>
            <div class="row">
              <div class="board board-seven">
                12x24
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$60</p>
                <p>$75 with frame</p>
              </div>
            </div>
            <br>
            <h5>Tray</h5>
            <div class="row">
              <div class="board tray-board">
                12x16x2
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$50</p>
              </div>
            </div>
            <br>
            <h5>Porch Boards</h5>
            <div class="row">
              <div class="board porch-board-one">
                8x48
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$85</p>
              </div>
              <div class="board porch-board-two">
                12x48
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$90</p>
              </div>
            </div>
            <br>
            <h5>Growth Chart</h5>
            <div class="row">
              <div class="board growth-chart-board">
                12x72
              </div>
              <div class="col"></div>
              <div class="board-price">
                <p>$85</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container-fluid text-center text-md-left">

      <div class="row row-footer">

        <div class="col-3">
          <a class="navbar-brand logo" href="#">
            <img src="../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
          </a>
          <p class="ppp-footer">Personalize. Paint. Prosecco. </p>
          <p>The Monogram Crew has been designing boards and hosting parties since 2016. It is a labor of love and a true family business.</p>
        </div>

        <div class="col-3 foot-links-box">
          <div>
            <h6>Navigate</h6>
            <ul class="foot-links">
              <li><a class="foot-link" href="../main.html">Home</a></li>
              <li><a class="foot-link" href="../parties/host.html">Host a Party</a></li>
              <li><a class="foot-link" href="../parties/search.html">Search</a></li>
              <li><a class="foot-link" href="../About/contact.html">Contact Us</a></li>
              <li><a class="foot-link" href="../User/register.html">Register</a></li>
            </ul>
          </div>
        </div>

        <div class="col-2 footer-social-links">
            <a href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="col-4 email-capture">
          <h6>Sign Up for the Latest Information About New Products and Great Deals</h6>
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-dark" type="button">Sign up</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </footer>

    <!-- Required Scripts -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
