<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Monogram Crew</title>
    <link rel="shortcut icon" href="../../Images/TMCfavicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Nunito|Quicksand:700" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href="../../Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../Styles/parties.css">
  </head>

  <body>

    <!-- Navbar content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

        <a class="navbar-brand logo" href="../frontpage.html">
          <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
        </a>


        <ul class="navbar-nav navList">
          <li class="nav-item active">
            <a class="nav-link" href="../main.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./host.html">Host a Party</a>
              <a class="dropdown-item" href="./active.html">View Your Party</a>
              <a class="dropdown-item" href="./search.html">Search for a Party</a>
              <a class="dropdown-item" href="./AdminParty.html">(Admin)See Parties</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item" href="#">Who We Are</a>
              <a class="dropdown-item" href="#">Contact Us</a>
              <a class="dropdown-item" href="#">Join Us</a>
            </div>
          </li>
          <li class="nav-item nav-dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In/Register
            </a>
            <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
              <form>
                <div class="form-group">
                  <label for="emailSignIn">Email Address</label>
                  <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                </div>
                <div class="form-group">
                  <label for="passwordSignIn">Password</label>
                  <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary tmc-btn">Submit</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="#">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="#">Sign Up/Register</a>
            </div>
          </li>

        </ul>

        <span class="navbar-text">
          Personalize. Paint. Prosecco.
        </span>

    </nav>

    <!-- main container -->

    <!-- board design box -->
    <div class="container-fluid active-party-content">
      <div class="row">
        <div class="col-md-7">
          <div class="container user-design-box">
            <form>
              <h3>Design Your Board</h3>
              <p>Take a look at our design tips and hints to the right to help <br>figure out what you'd like your board to look like.</p>
              <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Enter Name">
              </div>
              <h6>Select a Skill Level</h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="skillLevelRadioOptions" id="skillLevelRookie" value="rookie">
                <label class="form-check-label" for="skillLevelRookie">Rookie</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="skillLevelRadioOptions" id="skillLevelSeasoned" value="seasoned">
                <label class="form-check-label" for="skillLevelSeasoned">Seasoned</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="skillLevelRadioOptions" id="skillLevelExpert" value="expert">
                <label class="form-check-label" for="skillLevelExpert">Expert</label>
              </div>
              <br>
              <div class="form-group">
                <label for="boardSize">Choose a Size</label>
                <select class="form-control" id="boardSize">
                  <option>12x12</option>
                  <option>6x24</option>
                  <option>9x18</option>
                  <option>6x36</option>
                  <option>8x24</option>
                  <option>9x30</option>
                  <option>12x24</option>
                </select>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="addFrameToBoard">
                <label class="form-check-label" for="addFrameToBoard">Add a Frame to Your Board</label>
              </div>
              <br>
              <div class="form-group">
                <label for="boardText">Board Text</label>
                <input type="text" class="form-control" id="boardText" placeholder="What Do You Want On Your Board">
              </div>
              <div class="form-group">
                <label for="additionalBoardInstructions">Additional Board Instructions</label>
                <textarea class="form-control" id="additionalBoardInstructions" rows="3">Info for our designers</textarea>
              </div>
              <button type="submit" class="btn tmc-btn">Save</button>
            </form>
          </div>
          <!-- Chat Box -->
          <div class="container chat-container">
            <h3 class="chat-header">Party Chat</h3>
            <div class="container-fluid party-chat-box">
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">I just started designing my board, I definitely want a frame.</p>
                </div>
                <p class="chat-box-id">EmailAddress@User.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">I've been working on mine for a little while now. The people who come on to help are so great, they made it so easy. Who else is doing a porch board?</p>
                </div>
                <p class="chat-box-id">EmailAddress@User.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">I decided to stick with a tray and keep it simple. I know they say you don't have to be an expert but I want to be safe.</p>
                </div>
                <p class="chat-box-id">EmailAddress@User.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-user">
                  <p class="chat-box-text">Does anyone know if there's a word limit?</p>
                </div>
              </div>
              <div class="chat-box">
                <div class="chat-box-admin">
                  <p class="chat-box-text">Hello, welcome to TMC Chat ladies. I'm here to help you with any questions you might have about the process.</p>
                </div>
                <p class="chat-box-id">Admin Name</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-user">
                  <p class="chat-box-text">How long do parties usually go for? I just want to be sure to keep my babysitter around for long enough.</p>
                </div>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">Is everyone else paying with Venmo or on the website?</p>
                </div>
                <p class="chat-box-id">EmailAddress@User.com</p>
              </div>
              <div class="chat-box">
                <div class="chat-box-group">
                  <p class="chat-box-text">Good news ladies, I already bought the Prosecco and have the bar set up for Friday night. The guys will be away so we have the place to ourselves!</p>
                </div>
                <p class="chat-box-id">EmailAddress@User.com</p>
              </div>
            </div>
            <div class="container-fluid reply-box">
              <form class="form-group">
                <label for="chatReplyBox"></label>
                <textarea class="form-control" id="chatReplyBox" rows="2" placeholder="Type Your Response Here" width="500"></textarea>
                <br>
                <button type="submit" class="btn tmc-btn">Send</button>
              </form>
            </div>
          </div>
        </div>


        <div class="col-md-5">
          <div class="container design-info">
          </div>
        </div>

      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
      <div class="container-fluid text-center text-md-left">

        <div class="row row-footer">

          <div class="col-md-4">
            <a class="navbar-brand logo" href="#">
              <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
            </a>
            <p class="ppp-footer">Personalize. Paint. Prosecco. </p>
            <p>The Monogram Crew has been designing boards and hosting parties since 2016. It is a labor of love and a true family business.</p>
          </div>

          <div class="col-md-4 foot-links-box">
            <h6>Navigate</h6>
            <div>
            <ul class="foot-links">
              <li><a class="foot-link" href="../Views/index.html">Home</a></li>
              <li><a class="foot-link" href="#">Book a Party</a></li>
              <li><a class="foot-link" href="#">Shop</a></li>
              <li><a class="foot-link" href="#">Contact Us</a></li>
            </ul>
            </div>
            <div>
            <ul class="foot-links">
              <li><a class="foot-link" href="../Views/news.html">News</a></li>
              <li><a class="foot-link" href="../Views/faq.html">FAQ</a></li>
              <li><a class="foot-link" href="#">Sign In</a></li>
              <li><a class="foot-link" href="#">Register</a></li>
            </ul>
            </div>
          </div>

          <div class="col-md-4 email-capture">
            <h6>Sign Up for the Latest Information About New Products and Great Deals</h6>
            <form class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-dark" type="button">Sign up</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </footer>

    <!-- Required Scripts -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
