<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Monogram Crew</title>
    <link rel="shortcut icon" href="../../Images/TMCfavicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href="../../Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../Styles/parties.css">
  </head>

  <body>

    <!-- Navbar content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

        <a class="navbar-brand logo" href="../main.html">
          <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
        </a>


        <ul class="navbar-nav navList">
          <li class="nav-item active">
            <a class="nav-link" href="../main.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Shop/shop.html">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../fundraiser/fundraiseForm.html">Fundraise</a>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../parties/host.html">Host a Party</a>
              <a class="dropdown-item" href="../parties/active.html">View Your Party</a>
              <a class="dropdown-item" href="../parties/search.html">Search for a Party</a>
              <a class="dropdown-item" href="../parties/admin.html">ADMIN VIEW</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item" href="../About/about.html">Who We Are</a>
              <a class="dropdown-item" href="../About/contact.html">Contact Us</a>
              <a class="dropdown-item" href="../About/join.html">Join Us</a>
              <a class="dropdown-item" href="../About/faq.html">FAQ</a>
            </div>
          </li>
          <li class="nav-item nav-dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In/Register
            </a>
            <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
              <form>
                <div class="form-group">
                  <label for="emailSignIn">Email Address</label>
                  <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                </div>
                <div class="form-group">
                  <label for="passwordSignIn">Password</label>
                  <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary tmc-btn">Submit</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/home.html">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/register.html">Sign Up/Register</a>
            </div>
          </li>
          <li>
            <a class="nav-item nav-item-social" href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a class="nav-item nav-item-social" href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>

        </ul>

        <span class="navbar-text">
          Personalize. Paint. Prosecco.
        </span>

    </nav>

    <!-- main container -->

    <div class="container active-admin-content">
      
      <div class="row">
        <div class="col active-party-admin">
          <h1>Admin</h1>
          <form>
            <div>
              <h6>Set Status: </h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="partyStatusRadioOptions" id="partyStatusPending" value="pending">
                <label class="form-check-label" for="partyStatusPending">Pending</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="partyStatusRadioOptions" id="partyStatusReady" value="ready">
                <label class="form-check-label" for="partyStatusReady">Ready</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="partyStatusRadioOptions" id="partyStatusCompleted" value="completed">
                <label class="form-check-label" for="partyStatusCompleted">Completed</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="partyStatusRadioOptions" id="partyStatusCancelled" value="cancelled">
                <label class="form-check-label" for="partyStatusCancelled">Cancelled</label>
              </div>
            <button type="button" class="btn btn-sm btn-primary">Update</button>
            </div>
          </form>
          <br>
          <form>
            <div>
              <h6>Send Automated Warning Email: </h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="warningEmailRadioOptions" id="emailWarningDate" value="Date Approaching">
                <label class="form-check-label" for="emailWarningDate">Date Approaching</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="warningEmailRadioOptions" id="emailWarningPayment" value="Payment Missing">
                <label class="form-check-label" for="emailWarningPayment">Payment Missing</label>
              </div>
            <button type="button" class="btn btn-sm btn-danger">Send</button>
            </div>
          </form>
          <br>
          <form>
              <div class="form-group">
                <label for="pinEmailMessage">Email/Pin Message to Party</label>
                <textarea class="form-control col-md-6" id="pinEmailMessage" rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-sm btn-primary">Pin/Send</button>
              </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container active-party-info">
            <h3><a class="active-party-link" href="#">Party Info/Link<a></h3>
            <br>
            <div class="container">
              <h5>Host: Bethenny Frankel</h5>
              <br>
              <p>Date: June 10, 2019</p>
              <p>Time: 8:00pm</p>
              <p>Location: 374 5th Avenue</p>
              <p>Apartment P</p>
              <p>New York, NY 10028</p>
            </div>
          </div>
        </div>
        <div class="col admin-party-checklist">
          <div class="row roster-form-entry">
            <h5>Ramona Singer</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="designFinalized" value="designFinalizedTrue">
              <label class="form-check-label" for="designFinalized">Design Agreed?</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="paid" value="paidTrue">
              <label class="form-check-label" for="paid">Paid?</label>
            </div>
            <div class="custom-file image-upload-browse">
              <input type="file" class="custom-file-input" id="imageUpload">
              <label class="custom-file-label" for="imageUpload">Choose file</label>
            </div>
          </div>
          <div class="row roster-form-entry">
            <h5>Bethenny Frankel</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="designFinalized" value="designFinalizedTrue">
              <label class="form-check-label" for="designFinalized">Design Agreed?</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="paid" value="paidTrue">
              <label class="form-check-label" for="paid">Paid?</label>
            </div>
            <div class="custom-file image-upload-browse">
              <input type="file" class="custom-file-input" id="imageUpload">
              <label class="custom-file-label" for="imageUpload">Choose file</label>
            </div>
          </div>
          <div class="row roster-form-entry">
            <h5>Dorinda Medley</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="designFinalized" value="designFinalizedTrue">
              <label class="form-check-label" for="designFinalized">Design Agreed?</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="paid" value="paidTrue">
              <label class="form-check-label" for="paid">Paid?</label>
            </div>
            <div class="custom-file image-upload-browse">
              <input type="file" class="custom-file-input" id="imageUpload">
              <label class="custom-file-label" for="imageUpload">Choose file</label>
            </div>
          </div>
          <div class="row roster-form-entry">
            <h5>Tinsley Mortimer</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="designFinalized" value="designFinalizedTrue">
              <label class="form-check-label" for="designFinalized">Design Agreed?</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="paid" value="paidTrue">
              <label class="form-check-label" for="paid">Paid?</label>
            </div>
            <div class="custom-file image-upload-browse">
              <input type="file" class="custom-file-input" id="imageUpload">
              <label class="custom-file-label" for="imageUpload">Choose file</label>
            </div>
          </div>
          <div class="row roster-form-entry">
            <h5>Luann deLesseps</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="designFinalized" value="designFinalizedTrue">
              <label class="form-check-label" for="designFinalized">Design Agreed?</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="paid" value="paidTrue">
              <label class="form-check-label" for="paid">Paid?</label>
            </div>
            <div class="custom-file image-upload-browse">
              <input type="file" class="custom-file-input" id="imageUpload">
              <label class="custom-file-label" for="imageUpload">Choose file</label>
            </div>
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-primary tmc-btn">Submit</button>
        </div>
      </div>

      <div class="row">
        <div class="container party-roster-table">
          <h2>Roster</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Skill</th>
                <th scope="col">Size</th>
                <th scope="col">Frame?</th>
                <th scope="col">Font</th>
                <th scope="col">Img Uploaded</th>
                <th scope="col">Board Text</th>
                <th scope="col">Special Instructions</th>
                <th scope="col">Design Agreed?</th>
                <th scope="col">Paid?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Dorinda Medley</th>
                <td>Rookie</td>
                <td>12x12</td>
                <td>No</td>
                <td>Script, Modern</td>
                <td><img src="../../Images/carousel-slide3-thisisus.jpeg" class="img-thumbnail"></td>
                <td>This Is Us - The Medleys</td>
                <td>N/A</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row">Bethenny Frankel</th>
                <td>Seasoned</td>
                <td>9x18</td>
                <td>Yes</td>
                <td>Traditional</td>
                <td><img src="../../Images/custom shop pic.jpeg" class="img-thumbnail"></td>
                <td>Beth and Ramona 4Ever</td>
                <td>Please use organic wood if possible</td>
                <td>No</td>
                <td>No</td>
              </tr>
              <tr>
                <th scope="row">Tinsley Mortimer</th>
                <td>Seasoned</td>
                <td>9x30</td>
                <td>Yes</td>
                <td>Block, Traditional</td>
                <td><img src="../../Images/carousel-slide1-sailaway.jpeg" class="img-thumbnail"></td>
                <td>Couples that Coupon Together, Stay Together</td>
                <td>N/A</td>
                <td>No</td>
                <td>No</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="container chat-container">
          <h3 class="chat-header">Party Chat</h3>
          <div class="container-fluid party-chat-box">
            <div class="chat-box">
              <div class="chat-box-group">
                <p class="chat-box-text">I just started designing my board, I definitely want a frame.</p>
              </div>
              <p class="chat-box-id">CountessLuann@Email.com</p>
            </div>
            <div class="chat-box">
              <div class="chat-box-group">
                <p class="chat-box-text">I've been working on mine for a little while now. The people who come on to help are so great, they made it so easy. Who else is doing a porch board?</p>
              </div>
              <p class="chat-box-id">RamonaCoaster@Email.com</p>
            </div>
            <div class="chat-box">
              <div class="chat-box-group">
                <p class="chat-box-text">I decided to stick with a tray and keep it simple. I know they say you don't have to be an expert but I want to be safe.</p>
              </div>
              <p class="chat-box-id">SkinnyGirl@Email.com</p>
            </div>
            <div class="chat-box">
              <div class="chat-box-user">
                <p class="chat-box-text">Does anyone know if there's a word limit?</p>
              </div>
            </div>
            <div class="chat-box">
              <div class="chat-box-admin">
                <p class="chat-box-text">Hello, welcome to TMC Chat ladies. I'm here to help you with any questions you might have about the process.</p>
              </div>
              <p class="chat-box-id">Megan Maxwell</p>
            </div>
            <div class="chat-box">
              <div class="chat-box-user">
                <p class="chat-box-text">How long do parties usually go for? I just want to be sure to keep my babysitter around for long enough.</p>
              </div>
            </div>
            <div class="chat-box">
              <div class="chat-box-group">
                <p class="chat-box-text">Is everyone else paying with Venmo or on the website?</p>
              </div>
              <p class="chat-box-id">CountessLuann@Email.com</p>
            </div>
            <div class="chat-box">
              <div class="chat-box-group">
                <p class="chat-box-text">Good news ladies, I already bought the Prosecco and have the bar set up for Friday night. The guys will be away so we have the place to ourselves!</p>
              </div>
              <p class="chat-box-id">SkinnyGirl@Email.com</p>
            </div>
          </div>
          <div class="container-fluid reply-box">
            <form class="form-group">
              <label for="chatReplyBox"></label>
              <textarea class="form-control chat-reply-area col-11" id="chatReplyBox" rows="2" placeholder="Type Your Response Here" width="500"></textarea>
              <br>
              <button type="submit" class="btn tmc-btn">Send</button>
            </form>
          </div>
        </div>
      </div>

    </div>


  <!-- Footer -->
  <footer class="page-footer">
    <div class="container-fluid text-center text-md-left">

      <div class="row row-footer">

        <div class="col-3">
          <a class="navbar-brand logo" href="#">
            <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
          </a>
          <p class="ppp-footer">Personalize. Paint. Prosecco. </p>
          <p>The Monogram Crew has been designing boards and hosting parties since 2016. It is a labor of love and a true family business.</p>
        </div>

        <div class="col-3 foot-links-box">
          <div>
            <h6>Navigate</h6>
            <ul class="foot-links">
              <li><a class="foot-link" href="../main.html">Home</a></li>
              <li><a class="foot-link" href="../parties/host.html">Host a Party</a></li>
              <li><a class="foot-link" href="../parties/search.html">Search</a></li>
              <li><a class="foot-link" href="../About/contact.html">Contact Us</a></li>
              <li><a class="foot-link" href="../User/register.html">Register</a></li>
            </ul>
          </div>
        </div>

        <div class="col-2 footer-social-links">
            <a href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="col-4 email-capture">
          <h6>Sign Up for the Latest Information About New Products and Great Deals</h6>
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-dark" type="button">Sign up</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </footer>

    <!-- Required Scripts -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
