<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Monogram Crew</title>
    <link rel="shortcut icon" href="../../Images/TMCfavicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Nunito|Quicksand:700" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href="../../Styles/styles.css">
  </head>

  <body>

    <!-- Navbar content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

        <a class="navbar-brand logo" href="../frontpage.html">
          <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
        </a>


        <ul class="navbar-nav navList">
          <li class="nav-item active">
            <a class="nav-link" href="../main.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./host.html">Host a Party</a>
              <a class="dropdown-item" href="./active.html">View Your Party</a>
              <a class="dropdown-item" href="./search.html">Search for a Party</a>
              <a class="dropdown-item" href="./AdminParty.html">(Admin)See Parties</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item" href="#">Who We Are</a>
              <a class="dropdown-item" href="#">Contact Us</a>
              <a class="dropdown-item" href="#">Join Us</a>
            </div>
          </li>
          <li class="nav-item nav-dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In/Register
            </a>
            <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
              <form>
                <div class="form-group">
                  <label for="emailSignIn">Email Address</label>
                  <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                </div>
                <div class="form-group">
                  <label for="passwordSignIn">Password</label>
                  <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="#">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="#">Sign Up/Register</a>
            </div>
          </li>

        </ul>

        <span class="navbar-text">
          Personalize. Paint. Prosecco.
        </span>

    </nav>

    <!-- Required Scripts -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
