<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Monogram Crew</title>
    <link rel="shortcut icon" href="../../Images/TMCfavicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Quicksand:300,500" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href="../../Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../Styles/parties.css">
  </head>

  <body>

    <!-- Navbar content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

        <a class="navbar-brand logo" href="../main.html">
          <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
        </a>


        <ul class="navbar-nav navList">
          <li class="nav-item active">
            <a class="nav-link" href="../main.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Shop/shop.html">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../fundraiser/fundraiseForm.html">Fundraise</a>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./host.html">Host a Party</a>
              <a class="dropdown-item" href="./active.html">View Your Party</a>
              <a class="dropdown-item" href="./search.html">Search for a Party</a>
              <a class="dropdown-item" href="./admin.html">ADMIN VIEW</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item" href="../About/about.html">Who We Are</a>
              <a class="dropdown-item" href="../About/contact.html">Contact Us</a>
              <a class="dropdown-item" href="../About/join.html">Join Us</a>
              <a class="dropdown-item" href="../About/faq.html">FAQ</a>
            </div>
          </li>
          <li class="nav-item nav-dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In/Register
            </a>
            <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
              <form>
                <div class="form-group">
                  <label for="emailSignIn">Email Address</label>
                  <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                </div>
                <div class="form-group">
                  <label for="passwordSignIn">Password</label>
                  <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                </div>
                <button type="submit" class="btn tmc-btn">Submit</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/home.html">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="#">Sign Up/Register</a>
            </div>
          </li>

        </ul>

        <span class="navbar-text">
          Personalize. Paint. Prosecco.
        </span>

    </nav>

    <!-- Host Request Form -->
    <div class="container">

      <div class="host-request-form">
        <h2 class="host-form-header">Host a Party</h2>
        <br>
        <h5 class="host-form-header">Hosts get $45 off their project if they have a party of 10 people, and get their project free with a party of 20 people!</h5>
        <p>(* Denotes Required Response)</p>
          <form>
              <h5 class="host-form-question">1. Choose a date from the list*:</h5>
              <div class="form-group">
                <label for="inputDate">Select...</label>
                <select id="inputDate" class="form-control">
                  <option>Friday, July 12, 2019 7pm</option>
                  <option>Friday, July 19, 2019 7pm</option>
                  <option>Friday, July 26, 2019 7pm</option>
                  <option>Friday, August 2, 2019 7pm</option>
                  <option>Friday, August 9, 2019 7pm</option>
                  <option>Friday, August 16, 2019 7pm</option>
                  <option>Friday, August 23, 2019 7pm</option>
                  <option>Friday, August 30, 2019 7pm</option>
                  <option>Friday, September 6, 2019 7pm</option>
                </select>
              </div>

              <h5 class="host-form-question">2. Enter the Host Address*:</h5>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                  </div>
                </div>
                  <div class="form-group">
                    <label for="inputAddress">Street Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity" placeholder="City">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>NY</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
                    </div>
                  </div>

                  <h5 class="host-form-question">3. Enter Names and Emails for People You Plan to Invite</h5>
                  <p>(Don't worry, you can add more people to your party and send a link around later)</p>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee1">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee1" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee1Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee1Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee2">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee2" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee2Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee2Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee3">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee3" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee3Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee3Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee4">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee4" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee4Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee4Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee5">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee5" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee5Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee5Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee6">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee6" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee6Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee6Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee7">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee7" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee7Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee7Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee8">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee8" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee8Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee8Email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputAttendee9">Attendee Name</label>
                      <input type="text" class="form-control" id="inputAttendee9" placeholder="First and Last Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputAttendee9Email">Attendee Email</label>
                      <input type="email" class="form-control" id="inputAttendee9Email" placeholder="Email Address">
                    </div>
                  </div>

                  <h5 class="host-form-question">4. Please Add Any Additional Information You'd Like Us to Know*:</h5>
                  <div class="form-group">
                    <label for="additionalInfoTextArea">Special requests or instructions</label>
                    <textarea class="form-control" id="additionalInfoTextArea" rows="4" placeholder="Allergies, special needs, entry instructions, etc..."></textarea>
                  </div>

                  <button type="submit" class="btn tmc-btn">Submit</button>
              </form>
        </div>

      </div>

      <!-- Footer -->
      <footer class="page-footer">
        <div class="container-fluid text-center text-md-left">

          <div class="row row-footer">

            <div class="col-md-4">
              <a class="navbar-brand logo" href="#">
                <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
              </a>
              <p class="ppp-footer">Personalize. Paint. Prosecco. </p>
              <p>The Monogram Crew has been designing boards and hosting parties since 2016. It is a labor of love and a true family business.</p>
            </div>

            <div class="col-md-4 foot-links-box">
              <h6>Navigate</h6>
              <div>
              <ul class="foot-links">
                <li><a class="foot-link" href="../main.html">Home</a></li>
                <li><a class="foot-link" href="./host.html">Host a Party</a></li>
                <li><a class="foot-link" href="./search.html">Search</a></li>
                <li><a class="foot-link" href="../About/contact.html">Contact Us</a></li>
                <li><a class="foot-link" href="#">Register</a></li>
              </ul>
              </div>
            </div>

            <div class="col-md-4 email-capture">
              <h6>Sign Up for the Latest Information About New Products and Great Deals</h6>
              <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-dark" type="button">Sign up</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </footer>


    <!-- Required Scripts -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
