<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Monogram Crew</title>
    <link rel="shortcut icon" href="../../Images/TMCfavicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href="../../Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../../Styles/about.css">
  </head>

  <body>

    <!-- Navbar content -->
    <div class="content">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

        <a class="navbar-brand logo" href="../frontpage.html">
          <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
        </a>


        <ul class="navbar-nav navList">
          <li class="nav-item">
            <a class="nav-link" href="#">Shop (Coming Soon!)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./fundraiser/fundraiseForm.html">Fundraise</a>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Party
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../parties/host.html">Host a Party</a>
              <a class="dropdown-item" href="../parties/active.html">View Your Party</a>
              <a class="dropdown-item" href="../parties/search.html">Search for a Party</a>
              <a class="dropdown-item" href="../parties/admin.html">ADMIN VIEW</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="nav-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownTwo">
              <a class="dropdown-item" href="../about/about.html">Who We Are</a>
              <a class="dropdown-item" href="../about/contact.html">Contact Us</a>
              <a class="dropdown-item" href="../about/join.html">Join Us</a>
              <a class="dropdown-item" href="../about/faq.html">FAQ</a>
            </div>
          </li>
          <li class="nav-item nav-dropdown dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownThree" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In/Register
            </a>
            <div class="nav-dropdown-menu dropdown-menu sign-in-menu" aria-labelledby="navbarDropdownThree">
              <form>
                <div class="form-group">
                  <label for="emailSignIn">Email Address</label>
                  <input type="email" class="form-control" id="emailSignIn" aria-describedby="emailHelp" placeholder="Email@Example.com">
                </div>
                <div class="form-group">
                  <label for="passwordSignIn">Password</label>
                  <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary tmc-btn">Submit</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/home.html">My Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item register-link" href="../User/register.html">Sign Up/Register</a>
            </div>
          </li>
          <li>
            <a class="nav-item nav-item-social" href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a class="nav-item nav-item-social" href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>

        </ul>

        <span class="navbar-text">
          Personalize. Paint. Prosecco.
        </span>

    </nav>

    <!-- main container -->

    <!-- Large Party Req -->
      <div class="container">
        <div class="row large-party-req-form">
          <div class="col about-content">
            <h3>Host a Fundraiser!</h3>
            <p>Want to host a really large party like a fundraiser, anniversary, or birthday party? We can do that, just let us know some details and we'll reach out to you personally as soon as possible to discuss.</p>
            <form>
              <div class="form-group">
                <label for="largePartyReqName">1. Name</label>
                <input type="text" class="form-control col" id="largePartyReqName" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="largePartyReqSize">2. How large is the party?</label>
                <input type="text" class="form-control col" id="largePartyReqSize" placeholder="# of Attendees">
              </div>
              <div class="form-group">
                <label for="largePartyReqLocation">3. Location</label>
                <input type="text" class="form-control col" id="largePartyReqLocation" placeholder="City, State, Zip">
              </div>
              <div class="form-group">
                <label for="largePartyReqPhone">4. Phone Number</label>
                <input type="text" class="form-control col" id="largePartyReqPhone" placeholder="5555555555 only numbers">
              </div>
              <div class="form-group">
                <label for="largePartyReqInfo">5. Additional Details and Info</label>
                <textarea class="form-control col" id="largePartyReqInfo" rows="3" placeholder="Add any additional information you want us to know about your big event."></textarea>
              </div>
              <button type="submit" class="btn tmc-btn">Submit</button>
            </form>
          </div>
          <div class="col fundraise-img-container">
            <img src="../../Images/smallfundraiser.jpeg" class="img-thumbnail">
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="page-footer">
        <div class="container-fluid text-center text-md-left">

          <div class="row row-footer">

            <div class="col-3">
              <a class="navbar-brand logo" href="#">
                <img src="../../images/TMCminGold-01.png" width="100" height="50" alt="TMC Logo">
              </a>
              <p class="ppp-footer">Personalize. Paint. Prosecco. </p>
              <p>The Monogram Crew has been designing boards and hosting parties since 2016. It is a labor of love and a true family business.</p>
            </div>

            <div class="col-3 foot-links-box">
              <div>
                <h6>Navigate</h6>
                <ul class="foot-links">
                  <li><a class="foot-link" href="../main.html">Home</a></li>
                  <li><a class="foot-link" href="../parties/host.html">Host a Party</a></li>
                  <li><a class="foot-link" href="../parties/search.html">Search</a></li>
                  <li><a class="foot-link" href="../About/contact.html">Contact Us</a></li>
                  <li><a class="foot-link" href="../User/register.html">Register</a></li>
                </ul>
              </div>
            </div>

            <div class="col-2 footer-social-links">
                <a href="https://www.facebook.com/themonogramcrew/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/themonogramcrew/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

            <div class="col-4 email-capture">
              <h6>Sign Up for the Latest Information About New Products and Great Deals</h6>
              <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-dark" type="button">Sign up</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </footer>

    <!-- Required Scripts -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
