.about-content {
  border: 4px solid #C5B358;
  background-color: #F8F9FA;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 20px;
  font-family: 'Quicksand';
}

.contact-feedback {
  margin-top: 125px;
}

/* faq */

.faq-content-container {
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: 'Quicksand';
}

.list-group {
  margin-left: 30px;
  position: fixed;
}

.list-group-item {
  border: 1px solid #C5B358;
}

.list-group-item.active {
  background-color: black;
  color: #C5B358;
  border: 1px solid #C5B358;
}

.faq-answers-container {
  left: 200px;
  position: relative;
}

.faq-item {
  margin-bottom: 50px;
  border: 2px solid #C5B358;
  padding: 20px;
  border-radius: 15px;
  background-color: #F8F9FA;
}

/* About */

.about-us-content {
  margin-top: 150px;
  font-family: 'Quicksand';
}
