/* Host Parties */

.host-request-form {
  margin-top: 150px;
  margin-bottom: 50px;
  border: 4px solid #C5B358;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  background-color: #F8F9FA;
  font-family: 'Quicksand';
}

/* Search Parties */

.party-search-container {
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 20px;
  border: 4px solid #C5B358;
  border-radius: 15px;
  background-color: #F8F9FA;
  font-family: 'Quicksand';
}

.party-search-bar {
  border: 2px solid #C5B358;
}

.search-results-border {
  border: 4px solid #C5B358;
  border-radius: 15px;
  margin-bottom: 150px;
}

/* Admin Party */
.active-admin-content {
  margin-top: 150px;
  font-family: 'Quicksand';
}

.active-party-admin {
  border: 4px solid #C5B358;
  background-color: #F8F9FA;
  border-radius: 15px;
  margin-bottom: 25px;
}

.admin-party-checklist {
  border: 4px solid #C5B358;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.roster-form-entry {
  display: inline;
  margin: 10px;
}

.image-upload {
  border: 4px solid #C5B358;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.party-roster-table {
  border: 4px solid #C5B358;
  border-radius: 15px;
}

/* Active Party */
.active-party-content {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: 'Quicksand';
}

.user-design-box {
  border: 4px solid #C5B358;
  padding: 20px;
  border-radius: 15px;
  background-color: #F8F9FA;
}

.chat-container {
  margin-top: 25px;
  border: 4px solid #C5B358;
  border-radius: 15px;
  height: 1190px;
  position: relative;
  background-color: #F8F9FA;
  font-family: 'Quicksand';
}

.chat-header {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  border-bottom: 2px solid black;
}

.party-chat-box {
  border-bottom: 2px solid black;
  height: 940px;
  overflow: scroll;
}

.chat-box-text {

}

.chat-box-id {
  margin-left: 25px;
  font-size: .7rem;
}

.chat-box-group {
  border: 2px solid black;
  padding: 5px;
  margin-right: 50px;
  border-radius: 15px;
  background-color: white;
}

.chat-box-user {
  border: 2px solid black;
  padding: 5px;
  border-radius: 15px;
  margin-left: 75px;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}

.chat-box-admin {
  border: 2px solid black;
  padding: 5px;
  border-radius: 15px;
  background-color: #C5B358;
  color: black;
  margin-left: 30px;
  margin-right: 50px;
}

.reply-box {
  position: absolute;
}

.active-party-info {
  border: 4px solid #C5B358;
  background-color: #F8F9FA;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.active-party-link{
  color: black;
}

.design-info {
  border: 4px solid #C5B358;
  background-color: #F8F9FA;
  border-radius: 15px;
  padding: 20px;
  margin-top: 25px;
}

.board {
  background-color: black;
  margin-right: 50px;
  text-align: center;
  color: white;
  font-weight: 500;
  margin: 10px;
}

.board-one {
  height: 60px;
  width: 60px;
}

.board-two {
  height: 30px;
  width: 110px;
}

.board-three {
  height: 45px;
  width: 90px;
}

.board-four {
  height: 30px;
  width: 170px;
}

.board-five {
  height: 40px;
  width: 110px;
}

.board-six {
  height: 45px;
  width: 140px;
}

.board-seven {
  height: 60px;
  width: 120px;
}

.tray-board {
  height: 60px;
  width: 80px;
  border: 3px solid #C5B358;
}

.porch-board-one {
  height: 240px;
  width: 40px;
}

.porch-board-two {
  height: 240px;
  width: 60px;
}

.growth-chart-board {
  height: 320px;
  width: 60px;
}
