/*
font-family: 'Quicksand', sans-serif;
font-family: 'Clicker Script', cursive;
font-family: 'Nunito', sans-serif;
color: (goldfoil) #C5B358;
*/

*{

}

/*  un-comment to add twinkle-lights background

body {
  background-image: url(images/twinkle-lights3.png);
}
*/

/* HomePage Styling */


/* Main Menu */

.homepage-start-container {
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
    ),
    url("../Images/lights.jpg");
  height: 830px;
  border-bottom: 8px solid #C5B358;
}

.homepage-menu-container {
  background-color: white;
  margin-top: 400px;
  height: 250px;
  border-top: 8px double #C5B358;
  border-left: 8px double #C5B358;
  border-bottom: 8px double #C5B358;
  background-color: white;
}

.home-logo-nav-container {
  margin: 0 auto 0 auto;
}

.homepage-nav {
  display: inline-flex;
  align-content: center;
  margin-left: 75px;
}

.homepage-nav-item {
  color: white;
  font-family: 'Clicker Script';
  width: 150px;
  height: 75px;
  font-size: 25px;
  background: linear-gradient(
    rgba(75,75,75,0.35),
    rgba(75,75,75,0.35)
    ),
    url("../Images/WOODGRAIN.jpg");

  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding-top: 4%;
  border: 2px solid #C5B358;
}

.homepage-nav-item:hover {
  text-decoration: none;
  color: #C5B358;
}

.line-start {
  margin-left: 200px;
  border-left: 4px dashed #C5B358;
  border-bottom: 4px dashed #C5B358;
  width: 700px;
  height: 900px;
}

.line-start-text{
  
}

.line-two {
  border-right: 4px dashed #C5B358;
  margin-left: 200px;
  width: 700px;
  height: 200px;
}

/* Video Box */

.video-container {
  display: inline-flex;
  margin-bottom: 300px;
}

.video-text {
  width: 95%;
  padding-top: 30px;
}

.videobox {
  border: 8px solid #C5B358;
}

/*
video {
    max-width:  50% !important;
    max-height: 50% !important;
}
*/


/* Personalize Box */
.personalize-box {
  border-top: 8px solid black;
  color: #C5B358;
}

.frontpage-headline {
  font-family: 'Nunito';
  font-size: 75px;
}

/* NavBar Styling */
.navbar {
  border-bottom: 3px solid #C5B358;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Nunito';
}

.navbar-text {
  font-family: 'Clicker Script';
  font-size: 25px;
  margin-left: 25px;
}

/* Carousel Styling */

.carousel {
  margin: 100px 35px 35px 35px;
  border: 3px solid #C5B358;
  border-radius: 15px;
}

.carousel-inner {
  border-radius: 12px;
}

.carousel-item {
  height: 500px;
}

.carousel-caption {
  font-family: 'Quicksand';
  font-size: 18px;
}

/* Instagram and News */

.insta-news {
  display: inline-flex;
  margin-bottom: 100px;
}

.news-header {
  font-family: 'Quicksand';
}
.news-item {
  margin-bottom: 50px;
}

.news-headline {
  font-family: 'Quicksand';
  border-bottom: 2px solid #C5B358;
}

.news-headline p {
  font-family: 'Nunito';
}

.insta-header {
  font-family: 'Quicksand';
  border-bottom: 2px solid #C5B358;
  color: black;
  margin-top: 32px;
}

/* Footer Styling */

footer {
  margin-top: 100px;
  border-top: 2px dashed white;
  background-color: grey;
  color: #C5B358;
  font-size: 12px;
  font-family: 'Nunito';
}

.foot-links-box {
  margin-top: 35px;
  display: inline-flex;
}

.foot-links {
  color: #C5B358;
  font-size: 12px;
  font-family: 'Nunito';
}

.foot-links li {
  list-style: none;
  padding: 5px 0px 5px 0px;
}

.foot-link{
  color: #C5B358;
}

.email-capture {
  margin-top: 35px;
  font-family: 'Nunito';
}
